/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

#main_map {
   height: 500px;
  }


.about-section {
  padding-top: 2.5rem;
}

.projects-section {
  padding: 2rem 0;
  background: #333333 !important;
}

.form {
  margin-left: 10%;
}